body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/static/background.png) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}


.container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #00f0ff;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
    margin-bottom: 30px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}


#status {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    font-style: italic;
    color: #cccccc;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.9;
}

.container {
    width: 90%;
    max-width: 850px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.button, .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

button {
    padding: 10px 20px;
    background: #00ffff10;
    border: 1px solid #00f0ff;
    color: #00f0ff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    background: #00f0ff;
    color: #000;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}
